<div class="main-container">
  <div class="form-card">
    <h2 class="title">Registro de suscripciones</h2>

    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" />
          <mat-error>
            @if (form.get('codigo')?.hasError('required')) { Ingrese el ID del historial!! }
          </mat-error>
        </mat-form-field>
      }

      <mat-form-field appearance="outline">
        <mat-label>Seleccione la fecha final</mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="fecha_fin" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        <mat-error>
          @if (form.get('fecha_fin')?.hasError('required')) { Ingrese fecha final del historial!! }
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="form.hasError('fechasInvalidas') && (form.get('fecha_fin')?.touched)">
          La fecha fin debe ser mayor o igual a la fecha de inicio.
      </mat-error>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status">
          <mat-option value="Activa">Activa</mat-option>
          <mat-option value="Caducada">Caducada</mat-option>
        </mat-select>
        <mat-error>
          @if (form.get('status')?.hasError('required')) { Ingrese el estado!! }
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <mat-select formControlName="fk">
          @for (a of listaUsuarios; track a) {
          <mat-option [value]="a.id_usuario">{{ a.nombre }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('fk')?.hasError('required')) { Ingrese el Usuario!! }
        </mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button class="register-button" type="submit">Registrar</button>
        <button mat-button class="cancel-button" (click)="volverAPadre()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</div>