<div class="container">
  <div style="text-align: center; margin: 5%"><h2>Registro de Historial</h2></div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" />
          <mat-error>
            @if (form.get('codigo')?.hasError('required')) { Ingrese el ID del historial!! }
          </mat-error>
        </mat-form-field>
        <br />
      }
      <br>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha_ini" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          @if (form.get('fecha_ini')?.hasError('required')) { Ingrese fecha de registro del historial!! }
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="fecha_fin" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        <mat-error>
          @if (form.get('fecha_fin')?.hasError('required')) { Ingrese fecha final del historial!! }
        </mat-error>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>Estado</mat-label>
        <input matInput formControlName="status" />
        <mat-error>
          @if (form.get('status')?.hasError('required')) { Ingrese el estado!! }
        </mat-error>
      </mat-form-field>
      <br />


      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <mat-select formControlName="fk">
          @for (a of listaUsuarios; track a) {
          <mat-option [value]="a.id_usuario">{{ a.nombre }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('fk')?.hasError('required')) { Ingrese el Usuario!! }
        </mat-error>
      </mat-form-field>
      <br />

      <div>
        <button mat-raised-button color="primary" type="submit">Registrar</button>
        <button mat-raised-button color="warn" (click)="volverAPadre()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</div>