<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Lista de Ingredientes por Plato</h2>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Ingrediente (nombre) -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>Nombre del Ingrediente</th>
        <td mat-cell *matCellDef="let e">
          {{ e.ingredientes?.nombre_ingrediente }}
        </td>
      </ng-container>

      <!-- Cantidad -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let e">
          {{ e.cantidad }}
        </td>
      </ng-container>

      <!-- Tipo de unidad -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Tipo de Unidad</th>
        <td mat-cell *matCellDef="let e">
          {{ e.tipo_unidad }}
        </td>
      </ng-container>

      <!-- Plato (nombre) -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Plato</th>
        <td mat-cell *matCellDef="let e">
          {{ e.plato?.nombre_plato }}
        </td>
      </ng-container>

      <!-- Actualizar -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let e">
          <button mat-button [routerLink]="[e.idIngredientePlato]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let e">
          <button mat-button (click)="eliminar(e.idIngredientePlato)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>