<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>{{ edicion ? "Editar Plato" : "Registro de Platos" }}</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="id_plato" readonly />
        </mat-form-field>
        <br />
      }

      <!-- Nombre del plato -->
      <mat-form-field>
        <mat-label>Nombre del Plato</mat-label>
        <input matInput formControlName="nombre_plato" />
        <mat-error>
          @if (form.get('nombre_plato')?.hasError('required')) {
            Ingrese el nombre del plato!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Precio -->
      <mat-form-field>
        <mat-label>Precio del Plato</mat-label>
        <input type="number" matInput formControlName="precio_plato" />
        <mat-error>
          @if (form.get('precio_plato')?.hasError('required')) {
            Ingrese el precio del plato!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Información nutricional -->
      <mat-form-field>
        <mat-label>Información nutricional</mat-label>
        <textarea matInput formControlName="info_nutricional"></textarea>
        <mat-error>
          @if (form.get('info_nutricional')?.hasError('required')) {
            Ingrese la información nutricional!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Restaurante -->
      <mat-form-field>
        <mat-label>Restaurante</mat-label>
        <mat-select formControlName="id_restaurante">
          @for (r of listaRestaurantes; track r) {
            <mat-option [value]="r.id_restaurante">
              {{ r.nombre_restaurante }}
            </mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('id_restaurante')?.hasError('required')) {
            Seleccione un restaurante!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Promoción -->
      <mat-form-field>
        <mat-label>Promoción</mat-label>
        <mat-select formControlName="id_promociones">
          @for (p of listaPromociones; track p) {
            <mat-option [value]="p.id_Promociones">
              {{ p.descripcion }}
            </mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('id_promociones')?.hasError('required')) {
            Seleccione una promoción!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Botones -->
      <div>
        <button mat-raised-button color="primary" type="submit">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>

        <button mat-raised-button color="warn" routerLink="/plato" type="button">
          Cancelar
        </button>
      </div>

    </form>
  </div>
</div>
