mat-form-field {

  width: 60%;

  }



  button[matButton="elevated"] {



  background-color:rgb(242, 49, 35);

  color: white;

  border: none;

  padding: 0.5rem 1.25rem;

  font-size: 1.1rem;

  border-radius: 0.375rem; cursor: pointer;

  transition: background-color 0.3s ease;

  width: 60%;

 }
mat-form-field {
  width: 60%;
}

.acciones-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;        
}
.acciones-form button {
  min-width: 130px;
}

 button[matButton="elevated"]:hover {

  background-color: #faf67c;

 }
