<div class="main-container">
  <div class="form-card">

    <h2 class="title">Registro de Reservas</h2>

    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="id" readonly />
        </mat-form-field>

      }

      <!-- Usuario -->
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="usuarioId">
          @for (u of listaUsuarios; track u) {
            <mat-option [value]="u.id_usuario">
              {{ u.nombre }} {{ u.apellido }}
            </mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('usuarioId')?.hasError('required')) {
            Seleccione un usuario!!
          }
        </mat-error>
      </mat-form-field>
      

      <!-- Restaurante -->
      <mat-form-field appearance="outline">
        <mat-label>Restaurante</mat-label>
        <mat-select formControlName="restauranteId">
          @for (r of listaRestaurantes; track r) {
            <mat-option [value]="r.id_restaurante">
              {{ r.nombre_restaurante }}
            </mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('restauranteId')?.hasError('required')) {
            Seleccione un restaurante!!
          }
        </mat-error>
      </mat-form-field>

      <!-- Fecha -->
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Reserva</mat-label>
        <input matInput type="date" formControlName="fecha_reserva">
        <mat-error>
          @if (form.get('fecha_reserva')?.hasError('required')) {
            Seleccione una fecha!!
          }
        </mat-error>
      </mat-form-field>

      <!-- Hora -->
      <mat-form-field appearance="outline">
        <mat-label>Hora</mat-label>
        <input matInput type="time" formControlName="hora">
        <mat-error>
          @if (form.get('hora')?.hasError('required')) {
            Seleccione una hora!!
          }
        </mat-error>
      </mat-form-field>

      <!-- Número de personas -->
      <mat-form-field appearance="outline">
        <mat-label>Número de Personas</mat-label>
        <input matInput type="number" formControlName="numero_personas" min="1">
        <mat-error>
          @if (form.get('numero_personas')?.hasError('required')) {
            Ingrese el número de personas!!
          }
          @if (form.get('numero_personas')?.hasError('min')) {
            Mínimo 1 persona!!
          }
        </mat-error>
      </mat-form-field>

      <!-- Estado -->
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
          <mat-option value="Pendiente">Pendiente</mat-option>
          <mat-option value="Confirmada">Confirmada</mat-option>
          <mat-option value="Cancelada">Cancelada</mat-option>
        </mat-select>
        <mat-error>
          @if (form.get('estado')?.hasError('required')) {
            Seleccione un estado!!
          }
        </mat-error>
      </mat-form-field>

      <!-- Botones -->
      <div class="actions">
        <button class="register-button" mat-raised-button color="primary" type="submit">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>

        <button mat-button class="cancel-button" (click)="volverAPadre()" type="button">Cancelar</button>
      </div>

    </form>
  </div>
</div>
