<div class="main-container">
  <div class="title-section">
    <h2 class="title">Lista de Usuarios</h2>
  </div>

  <div class="card-list-container">
    <mat-card *ngFor="let element of dataSource.data" class="user-card">
      <mat-card-header>

        <div mat-card-avatar class="user-avatar"></div> 
        <mat-card-title class="card-title">
          {{ element.nombre }} {{ element.apellido }}
        </mat-card-title>
        <mat-card-subtitle class="card-subtitle">
          Rol: {{ element.rol.nombre }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="card-content">
        <p class="section-title">Datos de contacto:</p>
        <p> 
          <mat-icon class="icon-detail">location_on</mat-icon> Dirección: **{{ element.direccion}}**
        </p>
        <p> 
          <mat-icon class="icon-detail">phone</mat-icon> Teléfono: **{{ element.telefono}}**
        </p>
        <p> 
          <mat-icon class="icon-detail">person</mat-icon> Sexo: **{{ element.genero}}** </p>
      </mat-card-content>

      <mat-card-actions class="card-actions">
        <button mat-flat-button class="update-button" [routerLink]="['/usuarios', element.id_usuario]">
          <mat-icon>edit</mat-icon>
          Actualizar
        </button>
        <button mat-flat-button class="delete-button" (click)="eliminar(element.id_usuario)">
          <mat-icon>delete</mat-icon>
          Eliminar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>