<div class="main-container">
  <div class="form-card">
    <h2 class="title">Registro de Roles</h2>
    
    <form [formGroup]="form" (submit)="aceptar()">
      
      @if(edicion){
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" readonly/>
          <mat-error>
            @if (form.get('codigo')?.hasError('required')) { Ingrese el id del rol!! }
          </mat-error>
        </mat-form-field>
      }
      
      <mat-form-field appearance="outline">
        <mat-label>Rol</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error>
          @if (form.get('nombre')?.hasError('required')) { Ingrese el nombre del ROL!!! }
          @if (form.get('nombre')?.hasError('maxlength')) { Maximo 30 caracteres!!! }
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcion" rows="4"></textarea>
        <mat-error>
          @if (form.get('descripcion')?.hasError('required')) { Ingrese la DESCRIPCION !!! }
          @if (form.get('descripcion')?.hasError('maxlength')) { Maximo 200 caracteres !!! }
        </mat-error>
      </mat-form-field>
      
      <div class="actions">
        <button mat-raised-button class="register-button" type="submit">Registrar</button>
        
   
        <button 
          mat-button 
          class="cancel-button" 
          (click)="volverAPadre()" 
          type="button">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>