<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Registro de Promociones</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="id_Promociones" readonly />
        </mat-form-field>
        <br />
      }

      <!-- Descripción -->
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcion"></textarea>
        <mat-error>
          @if (form.get('descripcion')?.hasError('required')) {
            Ingrese una descripción!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Descuento -->
      <mat-form-field>
        <mat-label>Descuento</mat-label>
        <input matInput type="number" formControlName="descuento" />
        <mat-error>
          @if (form.get('descuento')?.hasError('required')) {
            Ingrese un descuento!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Restaurante -->
      <mat-form-field>
        <mat-label>Restaurante</mat-label>
        <mat-select formControlName="restauranteId">
          @for (r of listaRestaurantes; track r) {
            <mat-option [value]="r.id_restaurante">
              {{ r.nombre_restaurante }}
            </mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('restauranteId')?.hasError('required')) {
            Seleccione un restaurante!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <div>
        <button mat-raised-button color="primary" type="submit">
          {{ edicion ? 'Actualizar' : 'Registrar' }}
        </button>
        <button mat-raised-button color="warn" routerLink="/promociones" type="button">
          Cancelar
        </button>
      </div>

    </form>
  </div>
</div>
ng