<div class="container">
    <div style="text-align:center; margin: 20px 0;">
      <h2>Listado de Platos</h2>
    </div>
  
    <div style="text-align:right; margin-bottom: 12px;">
      <button mat-raised-button color="primary" routerLink="/plato/nuevo">
        <mat-icon>add</mat-icon>&nbsp;Nuevo plato
      </button>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" style="width:100%">

 <!-- ID -->
    <ng-container matColumnDef="c1">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let e"> {{ e.id_plato }} </td>
    </ng-container>

    <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Nombre  </th>
        <td mat-cell *matCellDef="let e"> {{ e.nombre_plato }} </td>
      </ng-container>

    <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let e"> {{ e.precio_plato }} </td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Info nutricional </th>
        <td mat-cell *matCellDef="let e"> {{ e.info_nutricional }} </td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Restaurante </th>
        <td mat-cell *matCellDef="let e"> {{ e.restaurante?.nombre_restaurante}} </td>
      </ng-container>

      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Promocion </th>
        <td mat-cell *matCellDef="let e"> {{ e.promociones?.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let e" style="display:flex; gap:8px;">
          <button mat-icon-button color="primary" [routerLink]="['/plato', e.id_plato]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminar(e.id_plato)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>  