<div class="container">
  <div style="text-align: center; margin: 5%"><h2>Registro de Ingredientes</h2></div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" />
          <mat-error>
            @if (form.get('codigo')?.hasError('required')) { Ingrese el ID del ingrediente!! }
          </mat-error>
        </mat-form-field>
        <br />
      }

      <mat-form-field>
        <mat-label>Nombre de Ingrediente</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error>
          @if (form.get('nombre')?.hasError('required')) { Ingrese el nombre del ingrediente!! }
        </mat-error>
      </mat-form-field>
      <br />

      <div>
        <mat-radio-group aria-label="Select an option" formControlName="tipo">
          <mat-radio-button [value]="true">Si es natural</mat-radio-button>
          <mat-radio-button [value]="false">No es natural</mat-radio-button>
          <mat-error>
          @if (form.get('tipo')?.hasError('required')) { Seleccione el tipo!! }
        </mat-error>
        </mat-radio-group>
      </div>
      <br />

      <mat-form-field>
        <mat-label>Nivel</mat-label>
        <input matInput formControlName="nivel" />
        <mat-error>
          @if (form.get('correo')?.hasError('required')) { Ingrese el nivel!! }
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Formas de preparar</mat-label>
        <input matInput formControlName="formas" />
        <mat-error>
          @if (form.get('formas')?.hasError('required')) { Ingrese la forma de preparar!! }
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Origen</mat-label>
        <input matInput formControlName="origenig" />
        <mat-error>
          @if (form.get('origen')?.hasError('required')) { Ingrese el origen del ingrediente!! }
        </mat-error>
      </mat-form-field>
      <br />

       <div>
        <mat-radio-group aria-label="Select an option" formControlName="contiene">
          <mat-radio-button [value]="true">Si contiene Gluten</mat-radio-button>
          <mat-radio-button [value]="false">No contiene Gluten</mat-radio-button>
          <mat-error>
          @if (form.get('contiene')?.hasError('required')) { Seleccione!! }
        </mat-error>
        </mat-radio-group>
      </div>

      <br />

      <div>
        <button mat-raised-button color="primary" type="submit">Registrar</button>
        <button mat-raised-button color="warn" (click)="volverAPadre()" type="button">Cancelar</button>
      </div>
    </form> 
  </div>
</div>