<div class="main-container">
  <div class="form-card">
    <h2 class="title">Registro de Ingredientes</h2>

    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" readonly />
          <mat-error>
            @if (form.get('codigo')?.hasError('required')) { Ingrese el ID del ingrediente!! }
          </mat-error>
        </mat-form-field>
      }

      <!-- NOMBRE -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre de Ingrediente</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error>
          @if (form.get('nombre')?.hasError('required')) { Ingrese el nombre del ingrediente!! }
        </mat-error>
      </mat-form-field>

      <!-- TIPO (RADIO: Natural / No Natural) -->
      <div class="radio-group-container">
        <label class="radio-label">Tipo de Origen:</label>
        <mat-radio-group aria-label="Select an option" formControlName="tipo" class="custom-radio-group">
          <mat-radio-button [value]="true">Si es natural</mat-radio-button>
          <mat-radio-button [value]="false">No es natural</mat-radio-button>
        </mat-radio-group>
        <mat-error class="radio-error">
          @if (form.get('tipo')?.hasError('required')) { Seleccione el tipo!! }
        </mat-error>
      </div>

      <!-- NIVEL -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nivel de Insecticida</mat-label>
        <input matInput formControlName="nivel" />
        <mat-error>
          @if (form.get('nivel')?.hasError('required')) { Ingrese el nivel!! }
        </mat-error>
      </mat-form-field>

      <!-- FORMAS DE PREPARAR -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Formas de preparar</mat-label>
        <input matInput formControlName="formas" />
        <mat-error>
          @if (form.get('formas')?.hasError('required')) { Ingrese la forma de preparar!! }
        </mat-error>
      </mat-form-field>

      <!-- ORIGEN -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Origen</mat-label>
        <input matInput formControlName="origenig" />
        <mat-error>
          @if (form.get('origenig')?.hasError('required')) { Ingrese el origen del ingrediente!! }
        </mat-error>
      </mat-form-field>

      <!-- CONTIENE GLUTEN (RADIO) -->
      <div class="radio-group-container">
        <label class="radio-label">Contenido de Gluten:</label>
        <mat-radio-group aria-label="Select an option" formControlName="contiene" class="custom-radio-group">
          <mat-radio-button [value]="true">Sí contiene Gluten</mat-radio-button>
          <mat-radio-button [value]="false">No contiene Gluten</mat-radio-button>
        </mat-radio-group>
        <mat-error class="radio-error">
          @if (form.get('contiene')?.hasError('required')) { Seleccione!! }
        </mat-error>
      </div>

      <!-- ACCIONES -->
      <div class="actions">
        <button mat-raised-button class="register-button" type="submit">Registrar</button>
        <button mat-button class="cancel-button" (click)="volverAPadre()" type="button">Cancelar</button>
      </div>
    </form>
  </div>
</div>