<div class="main-container">
    <div class="title-section">
        <h2 class="title">Lista de Ingredientes</h2>
    </div>

    <div class="table-container" *ngIf="dataSource.data.length > 0">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ingredientes-table">

            <ng-container matColumnDef="c1">
                <th mat-header-cell *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let element"> {{element.id_ingredientes}} </td>
            </ng-container>

            <ng-container matColumnDef="c2">
                <th mat-header-cell *matHeaderCellDef> Nombre</th>
                <td mat-cell *matCellDef="let element"> {{element.nombre_ingrediente}} </td>
            </ng-container>
            
            <ng-container matColumnDef="c3">
                <th mat-header-cell *matHeaderCellDef> Es Natural?</th>
                <td mat-cell *matCellDef="let element"> 
                    <span [ngClass]="{'status-natural': element.tipo_natural, 'status-artificial': !element.tipo_natural}">
                        {{ element.tipo_natural ? 'Sí' : 'No' }}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="c4">
                <th mat-header-cell *matHeaderCellDef> Nivel de Insecticida </th>
                <td mat-cell *matCellDef="let element"> {{ element.nivel_insecticida}}</td>
            </ng-container>
            
            <ng-container matColumnDef="c5">
                <th mat-header-cell *matHeaderCellDef> Formas de Preparar </th>
                <td mat-cell *matCellDef="let element"> {{element.formas_preparar}} </td>
            </ng-container>
            
            <ng-container matColumnDef="c6">
                <th mat-header-cell *matHeaderCellDef> Origen </th>
                <td mat-cell *matCellDef="let element"> {{element.origen}} </td>
            </ng-container>

            <ng-container matColumnDef="c7">
                <th mat-header-cell *matHeaderCellDef> Contiene Gluten? </th>
                <td mat-cell *matCellDef="let element"> 
                    <span [ngClass]="{'status-gluten': element.contiene_gluten, 'status-gluten-free': !element.contiene_gluten}">
                        {{element.contiene_gluten ? 'Sí' : 'No'}}
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="c8">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="update-icon-button" [routerLink]="['/ingredientes',element.id_ingredientes]">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="c9">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="delete-icon-button" (click)="eliminar(element.id_ingredientes)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <mat-paginator 
            [pageSizeOptions]="[5, 10, 15]" 
            [pageSize]="5" 
            [length]="dataSource.data.length"
            showFirstLastButtons 
            class="roles-paginator">
        </mat-paginator>
    </div>

    <div *ngIf="dataSource.data.length === 0" class="no-data-message-container">
        <p class="no-data-message" >
            No hay ingredientes registrados.
        </p>
    </div>
</div>
